/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.ruby-gemset
.ruby-version
npm-debug.log*
node_modules
/app/assets/webpack/*
.nvmrc
/public/webpack/
.DS_Store
api/api
web/build
web/node_modules
