!/log/.keep
!/tmp/.keep
.atomenv.json
.byebug_history
.DS_Store
.nvmrc
.ruby-gemset
.ruby-version
/.bundle
/app/assets/webpack/*
/log/*
/public/webpack/
/tmp/*
api/api
coverage.out
identity.pub
node_modules
npm-debug.log*
rails-db/data-dir
web/build
web/node_modules
